.blogItem-wrap {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: #00000024 0 0 10px 0px;
    background-color: #0000007e;
    backdrop-filter: blur(5px);
    border: .1px rgba(255, 255, 255, 0.281) solid;
}

.blogItem-cover {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: .5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.blogItem-wrap h3 {
    margin: .5rem 0 1rem 0;
    flex: 1;
    padding: 0 15px;
    color: white;

}

.blogItem-desc {
    position: relative;
    max-height: 58px;
    overflow: hidden;
    font-size: .85rem;
    padding-right: .5rem;
    color: #a9a9a9;
    padding: 0 20px;
}

.blogItem-desc::before {
    position: absolute;
    content: '...';
    bottom: 0;
    right: 0;
}

.blogItem-wrap footer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
    padding: 0 15px;
}

.blogItem-link {
    text-decoration: none;
    color: inherit;

}

.blogItem-author {
    display: flex;
    align-items: center;
}

.blogItem-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .5rem;
}

.blogItem-author p {
    font-size: .6rem;
    color: #a9a9a9;
}